<h1>this is jquery ajax page</h1>
<br>
<div class="container">
  <p>請點擊按鈕新增 user</p>
  <button id="launch" class="btn-info">Generate a random user</button>
  <hr />
  <div id="list" class="row">
    
  </div>
</div>

<script>
  $("#launch").click(function(){
    
    $.ajax({
      url: 'http://uinamws.com/api/?ext',
      method: 'GET',
      dataType: 'json',
      success: function(data){
        
      }
    });
    
  });
</script> 
  