<td>
  <p>
    <%= todo.title %>
  </p>
</td>
<td>
  <%= link_to todos_path(x: todo.id) do %>
    <span class="text-info glyphicon glyphicon-pencil"></span>
  <% end %>
  <%= link_to todo_path(id: todo.id), method: :delete do %>
    <span class="text-danger glyphicon glyphicon-trash"></span>
  <% end %>
</td>
