<td class="my-checkbox">
  <% if todo.done? %>
    <span class="toggle-todo my-pointer text-info span-default my-font glyphicon glyphicon-check"></span>
  <% else %>
    <span class="toggle-todo my-pointer text-info span-default my-font glyphicon glyphicon-unchecked"></span>
  <% end %>
</td>
<td class="my-title">
  <p class="my-font title">
    <%= todo.title %>
  </p>
</td>
<td>
    <span class="edit-todo my-pointer span-default text-info glyphicon glyphicon-pencil"></span>
    <span class="delete-todo my-pointer span-default text-danger glyphicon glyphicon-trash"></span>
</td>
