<div class="container">
  <h1 class="text-center">To Do List</h1>
  
  <div class="panel panel-info">

    <div class="panel-heading">
      <h3 class="panel-title">事項清單</h3>
    </div>
    
    <div class="panel-body">
      <form>
        <label>新增事項</label>
        <div class="input-group">
          <input type="text_field" id="txt-new" class="form-control" />
          <div class="input-group-addon">
            <button id="but-create" class="my-btn my-btn-transparent">新增</button>
          </div>
        </div>
      </form>
    </div>

    <table class="my-table table table-hover">
      <thead/>
      <tbody id="todolist">
        <% @todos.each do |todo| %>
          <tr id="<%= todo.id %>">
            <%= render "todo", todo: todo %>
          </tr>
        <% end %>
      </tbody>
      <tfoot/>
    </table>
    
  </div>
  
</div>
<script>
$("#todolist").on("click", ".edit-todo", function(event){
  var id = event.target.parentNode.parentNode.id;
  $.ajax({
    url: 'todos/' + id + "/edit",
    method: 'GET',
    dataType: 'json',
    success: function(data){
      
    }
  });
});

$("#but-create").on("click", function(event){
  event.preventDefault();
  $.ajax({
    url: 'todos/',
    method: 'POST',
    dataType: 'json',
    data: {
      todo: {
        title: $("#txt-new").val()
      }
    },
    success: function(data){
      var todo = document.createElement("tr");
      todo.id = data["id"];
      $(todo).html($("#todo-template").html());
      $(todo).find(".title.my-font").html(data["title"]);
      $("#todolist").append(todo);
    }
  });
});

$("#todolist").on("click", ".delete-todo", function(event){
  var id = event.target.parentNode.parentNode.id;
  console.log(id);
  $.ajax({
    url: 'todos/' + id,
    method: 'DELETE',
    dataType: 'json',
    success: function(data){
      $("#" + data["id"]).remove();
    }
  });
});
</script>
<script type="text/template" id="todo-template">
<td>
  <span class="my-pointer span-default my-font glyphicon glyphicon-unchecked"></span>
</td>
<td>
  <p class="title my-font"></p>
</td>
<td>
  <span class="edit-todo my-pointer span-default text-info glyphicon glyphicon-pencil"></span>
  <span class="delete-todo my-pointer span-default text-danger glyphicon glyphicon-trash"></span>
</td>
</script>